<div class="container">
	<div class="text-center">
	  <img src="assets/images/sparkleburger.gif" class="rounded" alt="Sparkle Burger Image">
	</div>

	<h1 class="text-center">EAT DA BURGER!!</h1>
	<!-- Row for list of burgers entered -->
	<div class="row">
		<!-- Left list: Burgers entered, but not devoured yet -->
		<div class="col-md-5 burger-box" id="not-devoured">
			<!-- Pass in data from server.js -->
			<ul class="list-group">
			  {{#each burgers}}
			  	{{#unless devoured}}
						{{> burgers/burgerNotDevoured-block}}
					{{/unless}}
			  {{/each}}
			</ul>
		</div>

		<!-- Forcing a space between the two columns -->
		<div class="col-md-2" id="blank">
		</div>

		<!-- Right list: Burgers devoured -->
		<div class="col-md-5 burger-box" id="devoured">
			<ul class="list-group">
				{{#each burgers}}
					{{#if devoured}}
						{{> burgers/burgerDevoured-block}}
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	<!-- Row for textbox to enter in new burger -->
	<div class="row justify-content-center bottom">
		<div class="col-md-5">
			<form class="create-form">
				<div class="form-group">
					<input class="form-control form-control-lg" type="text" name="burger_name" id="burgerInfo" placeholder="Type in a burger here!">
					<br>
					<button type="submit" class="btn btn-primary btn-lg burger-button">Submit</button>

					<p class="text-center directions">Type in the name of a burger you want to eat, then click "submit".</p>
				</div>
			</form>
		</div>
	</div>
</div>
