<!-- Partial for undevoured burgers, left list -->

<li class="list-group-item">
	<span class="label" id={{this.id}}>{{this.id}}.  {{this.burger_name}}</span>

  <button type="button" data-id="{{this.id}}" class="devourBurgerButton">Devour It!!</button>
</li>